@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://twitter.com/swyx/status/1449472712720601088?s=20 */
html {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
  line-height: 1.5rem;
  font-size: 24px;
}
